/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-------------------------------------------------------------------*/
/* DEBUG */

.debug .container {
  background-color: #1d3354;
  height: 200px;
}

.debug [class*="col-"] {
  background-color: #e9fff9;
  border: 1px solid #9ed8db;
  position: relative;
  height: 100%;
}

.debug .container span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.debug .container [class*="col-"] .container {
  height: 100%;
  background-color: #e9fff9;
  padding: 5px;
}

.debug .container [class*="col-"] .container [class*="col-"] {
  height: 100%;
  background-color: #d64045;
  border: 1px solid #9ed8db;
}

/*-------------------------------------------------------------------*/
/* COMMON */

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

/*-------------------------------------------------------------------*/
/* COLUMNS RESPONSIVE */

/* Responsive SX */

@media all and (max-width 750) {
  .col-sx-1 {
    width: calc((100% / 12) * 1);
  }

  .col-sx-2 {
    width: calc((100% / 12) * 2);
  }

  .col-sx-3 {
    width: calc((100% / 12) * 3);
  }

  .col-sx-4 {
    width: calc((100% / 12) * 4);
  }

  .col-sx-5 {
    width: calc((100% / 12) * 5);
  }

  .col-sx-6 {
    width: calc((100% / 12) * 6);
  }

  .col-sx-7 {
    width: calc((100% / 12) * 7);
  }

  .col-sx-8 {
    width: calc((100% / 12) * 8);
  }

  .col-sx-9 {
    width: calc((100% / 12) * 9);
  }

  .col-sx-10 {
    width: calc((100% / 12) * 10);
  }

  .col-sx-11 {
    width: calc((100% / 12) * 11);
  }

  .col-sx-12 {
    width: calc((100% / 12) * 12);
  }
}
/*-------------------------------------------------------------------*/
/* COLUMNS OFFSET */

.col-offset-1 {
  margin-left: calc((100% / 12) * 1);
}

.col-offset-2 {
  margin-left: calc((100% / 12) * 2);
}

.col-offset-3 {
  margin-left: calc((100% / 12) * 3);
}

.col-offset-4 {
  margin-left: calc((100% / 12) * 4);
}

.col-offset-5 {
  margin-left: calc((100% / 12) * 5);
}

.col-offset-6 {
  margin-left: calc((100% / 12) * 6);
}

.col-offset-7 {
  margin-left: calc((100% / 12) * 7);
}

.col-offset-8 {
  margin-left: calc((100% / 12) * 8);
}

.col-offset-9 {
  margin-left: calc((100% / 12) * 9);
}

.col-offset-10 {
  margin-left: calc((100% / 12) * 10);
}

.col-offset-11 {
  margin-left: calc((100% / 12) * 11);
}
